{% extends "base.html" %} {% block page %}
<div class="landing-page">
  <div
    class="header-image"
    style="background-image: url('/path/to/your/image.png')"
  >
    <h1>TEST Opencom</h1>
    <p>Making better use of public data in the Helsinki region</p>
    <div class="search-box">
      <form
        action="{{ h.url_for(controller='package', action='search') }}"
        method="get"
      >
        <input type="text" name="q" placeholder="Tag" />
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="stats">
      <span>{{ h.literal(stats.datasets_count) }} Datasets</span>
    </div>
  </div>
  <div class="categories">
    <div class="category" each="group in h.group_list('name asc', 20)">
      <i class="fa fa-icon"></i>
      <span>{{ group.title }}</span>
    </div>
  </div>
</div>
{% endblock %}
