.landing-page {
  text-align: center;
  color: white;
}

.header-image {
  background-size: cover;
  height: 300px;
  position: relative;
}

.search-box {
  margin-top: 20px;
}

.stats {
  margin-top: 10px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #004d7f;
}

.category {
  width: 150px;
  margin: 10px;
  text-align: center;
}
